<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd" >
     	   
   	<bean name="itech.UserManager" class="com.itech.coupon.manager.UserManagerImpl" scope="singleton">
   		<property name="userDAO" ref="itech.UserDAO"/>
	</bean>
   	
	<bean name="itech.UserDAO" class="com.itech.coupon.dao.HibernateUserDAOImpl" 
			parent="itech.hibernateCommonDAO" scope="singleton">
	</bean>
      
    <bean name="itech.AlertConfigManager" class="com.itech.alert.services.AlertConfigManagerImpl">
    	<property name="alertConfigDAO" ref="itech.AlertConfigDAO"/>
    </bean>
    
    <bean name="itech.AlertManager" class="com.itech.alert.services.AlertManagerImpl">
    	<property name="alertDAO" ref="itech.AlertDAO"/>
    </bean>
    
    <bean name="itech.AlertConfigDAO" class="com.itech.alert.dao.HibernateAlertConfigDAOImpl" parent="itech.hibernateCommonDAO" />
    
    <bean name="itech.AlertDAO" class="com.itech.alert.dao.HibernateAlertDAOImpl" parent="itech.hibernateCommonDAO" />
   
   	<bean name="itech.handler.OfferEventHandler" class="com.itech.event.coupon.OfferEventHandler">
   		<property name="alertConfigManager" ref="itech.AlertConfigManager"/>
   	</bean>
   	
   	<bean name="itech.EventEngine" class="com.itech.event.services.EventEngineImpl">
   		<property name="eventHandlers">
   			<list>
   				<ref bean="itech.handler.OfferEventHandler"/>
   			</list>
   		</property>
   	</bean>
   	
   	<bean name="itech.OfferEventGenerator" class="com.itech.event.coupon.OfferEventGeneratorImpl">
   		<property name="eventEngine" ref="itech.EventEngine"/>
   	</bean>
	
	<bean name="itech.AlertEngine" class="com.itech.alert.services.AlertEngine">
		<property name="alertConfigManager" ref="itech.AlertConfigManager"/>
		<property name="alertGenerators">
			<list>
				<ref bean="itech.OfferAlertGenerator"/>
			</list>
		</property>
		<property name="alertHandlers">
			<list>
				<ref bean="itech.handler.EmailAlerthandler"/>
			</list>
		</property>
		<property name="connectionUtil" ref="itech.ConnectionUtil"/>
	</bean>
	
	
	<bean id="itech.handler.EmailAlerthandler" class="com.itech.alert.handler.ExpiryEmailNotificationAlertHandler">
		<property name="emailManager" ref="itech.emailManager"/>
		<property name="userManager" ref="itech.UserManager"/>
	</bean>
	
	<bean id="itech.OfferAlertGenerator" class="com.itech.alert.services.OfferAlertGenerator">
		<property name="alertConfigManager" ref="itech.AlertConfigManager"/>
		<property name="alertManager" ref="itech.AlertManager"/>
		<property name="offerManager" ref="itech.offerManager"/>
	</bean>  
	
	<bean id="itech.offerManager" class="com.itech.offer.manager.OfferManagerImpl">
		<property name="offerDAO" ref="itech.offerDAO"/>
		<property name="offerUserAssocDAO" ref="itech.offerUserAssocDAO"/>
	</bean>
	
	<bean id="itech.offerDAO" class="com.itech.offer.dao.impl.OfferDAOImpl">
	</bean>
	
	<bean id="itech.offerUserAssocDAO" class="com.itech.offer.dao.impl.OfferUserAssocDAOImpl">
	</bean>
	
	<bean id="itech.mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="smtp.gmail.com" />
		<property name="port" value="587" />
		<property name="username" value="test.coupoxo@gmail.com" />
		<property name="password" value="7cygod2012" />
		<property name="javaMailProperties">
	   		<props>
       	      	<prop key="mail.smtp.auth">true</prop>
       	      	<prop key="mail.smtp.starttls.enable">true</prop>
       	   </props>
		</property>
	</bean>
 
	<bean id="itech.emailManager" class="com.itech.email.services.EmailManagerImpl">
		<property name="mailSender" ref="itech.mailSender" />
	</bean>
</beans>
