<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd" >
    
    
    
     <bean id="itech.ServiceLocator" class="com.itech.common.services.SpringServiceLocator" scope="singleton">
	</bean>


   <!-- Beans to support Security APIs  -->
    <bean id="itech.SecurityManager" class="com.itech.common.security.SecurityManagerImpl" scope="singleton">
    	<property name="securityContextHolder" ref="itech.SecurityContextHolder"/>
	</bean>
	<bean id="itech.SecurityContextHolder" class="com.itech.common.security.ThreadLocalSecurityContextHolder" 
		scope="singleton"/>
 	
	<bean id="itech.ConnectionFactory" class="com.itech.common.db.ConnectionFactoryImpl" scope="singleton">
		<property name="connectionUtil" ref="itech.ConnectionUtil" />
	</bean>
	<bean name="itech.ConnectionUtil" class="com.itech.common.db.ConnectionUtilImpl" scope="singleton">
	</bean>
   
    <bean id="itech.CommonBaseDAO"  class="com.itech.common.db.CommonBaseDAOImpl" abstract="true">
		<property name="connectionFactory" ref="itech.ConnectionFactory" />
	</bean>

	<bean name="itech.CouponManager" class="com.itech.coupon.manager.CouponManagerImpl" scope="singleton">
		<property name="couponDAO" ref="itech.CouponDAO"/>
		<property name="storeManager" ref="itech.StoreManager"/>
		<property name="userManager" ref="itech.UserManager"/>
		<property name="couponEventGenerator" ref="itech.CouponEventGenerator"/>
	</bean>
   
   	<bean name="itech.UserManager" class="com.itech.coupon.manager.UserManagerImpl" scope="singleton">
   		<property name="userDAO" ref="itech.UserDAO"/>
	</bean>
   
   	<bean name="itech.StoreManager" class="com.itech.coupon.manager.StoreManagerImpl" scope="singleton">
   		<property name="storeDAO" ref="itech.StoreDAO"/>
   		<property name="userManager" ref="itech.UserManager"/>
	</bean>
   
   	<bean name="itech.CouponDAO" class="com.itech.coupon.dao.CouponDAOImpl" parent="itech.CommonBaseDAO" scope="singleton">
	</bean>
	
	<bean name="itech.UserDAO" class="com.itech.coupon.dao.HibernateUserDAOImpl" 
			parent="itech.hibernateCommonDAO" scope="singleton">
	</bean>
   
   
   	<bean name="itech.StoreDAO" class="com.itech.coupon.dao.StoreDAOImpl" parent="itech.CommonBaseDAO" scope="singleton">
	</bean>
   
    <bean name="itech.AlertConfigManager" class="com.itech.alert.services.AlertConfigManagerImpl">
    	<property name="alertConfigDAO" ref="itech.AlertConfigDAO"/>
    </bean>
    
    <bean name="itech.AlertManager" class="com.itech.alert.services.AlertManagerImpl">
    	<property name="alertDAO" ref="itech.AlertDAO"/>
    
    </bean>
    
    <bean name="itech.AlertConfigDAO" class="com.itech.alert.dao.AlertConfigDAOImpl" parent="itech.CommonBaseDAO"/>
    
    <bean name="itech.AlertDAO" class="com.itech.alert.dao.AlertDAOImpl" parent="itech.CommonBaseDAO"/>
   
   	<bean name="itech.handler.CouponEventHandler" class="com.itech.event.coupon.CouponEventHandler">
   		<property name="alertConfigManager" ref="itech.AlertConfigManager"/>
   	</bean>
   	
   	<bean name="itech.EventEngine" class="com.itech.event.services.EventEngineImpl">
   		<property name="eventHandlers">
   			<list>
   				<ref bean="itech.handler.CouponEventHandler"/>
   			</list>
   		</property>
   	</bean>
   	
   	<bean name="itech.CouponEventGenerator" class="com.itech.event.coupon.CouponEventGeneratorImpl">
   		<property name="eventEngine" ref="itech.EventEngine"/>
   	</bean>
	
	<bean name="itech.AlertEngine" class="com.itech.alert.services.AlertEngine">
		<property name="alertConfigManager" ref="itech.AlertConfigManager"/>
		<property name="alertGenerators">
			<list>
				<ref bean="itech.CouponAlertGenerator"/>
			</list>
		</property>
		<property name="alertHandlers">
			<list>
				<ref bean="itech.handler.EmailAlerthandler"/>
			</list>
		</property>
		<property name="connectionUtil" ref="itech.ConnectionUtil"/>
	</bean>
	
	
	<bean id="itech.handler.EmailAlerthandler" class="com.itech.alert.handler.EmailAlertHandler">
		<property name="emailManager" ref="itech.emailManager"/>
		<property name="userManager" ref="itech.UserManager"/>
	</bean>
	
	<bean id="itech.CouponAlertGenerator" class="com.itech.alert.services.CouponAlertGenerator">
		<property name="alertConfigManager" ref="itech.AlertConfigManager"/>
		<property name="alertManager" ref="itech.AlertManager"/>
		<property name="couponManager" ref="itech.CouponManager"/>
	</bean>  
	
	<bean id="itech.mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="smtp.gmail.com" />
		<property name="port" value="587" />
		<property name="username" value="test.coupoxo@gmail.com" />
		<property name="password" value="7cygod2012" />
		<property name="javaMailProperties">
	   		<props>
       	      	<prop key="mail.smtp.auth">true</prop>
       	      	<prop key="mail.smtp.starttls.enable">true</prop>
       	   </props>
		</property>
	</bean>
 
	<bean id="itech.emailManager" class="com.itech.email.services.EmailManagerImpl">
		<property name="mailSender" ref="itech.mailSender" />
	</bean>
</beans>
