<ul class="hide">		
    <li class="offer_ui_template thumbnail offerBlock box-shadow span5">
        <div class="row-fluid">
            <div class="span6">
                <img class="sourceVendor-logoUrl" alt="99labels" src="images/stores/99labels.jpg">
                <span class="offerCode sans-serif-extra-small span8 offset2">Code: <span class="offerCodeVal">5455X34</span></span>
            </div>
            <div class="span6">
                <div class="row-fluid offer-icon" >
                    <div class="span11" style="min-height:0">
                        <div class="pull-right">
                            <a href="#" onClick="" >
                                <i class="icon-wrench"></i>
                            </a>
                            <a href="#" onClick="" >
                                <i class="icon-envelope"></i>
                            </a>
                            <a href="#" onClick="" >
                                <i class="icon-trash"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row-fluid margin-zero">
                    <span class="offerDesc">
                        Buy 2 & get 5 Free
                    </span>
                </div>
                <div class="row-fluid margin-zero">
                    <span class="vendorName sans-serif-normal">
                        99Lables
                    </span>
                </div>
                <div class="row-fluid margin-zero">
                    <span class="sans-serif-small">
                        <a class="vendorUrl" href="http://www.99labels.com"
                            target="_blank">
                            www.99labels.com
                        </a>
                    </span>
                </div>
                <div class="row-fluid margin-zero">
                    <span class="sans-serif-small">
                        Expire
                    </span>
                    <i class="icon-calendar"></i>
                    <span class="offerExpiryDate sans-serif-extra-small">
                        : 28-Sept, 2012
                    </span>
                </div>
            </div>
        </div>
    </li>
    <!-- End of Offer Template UI --!>
</ul>
