<ul class="hide">		
    <li class="offer_ui_template thumbnail offerBlock box-shadow span6">
        <div class="row-fluid">
            <div class="span6">
                <div class="vendorImgSection">
                    <img class="targetVendor-logoUrl" alt="Vendor" src="images/stores/defaultVendor.jpg">
                    <div class="vendorOnOfferNameVal hide"></div>
                </div>
                <span class="offerCode sans-serif-extra-small span8 offset2">Code: <span class="offerCodeVal"></span></span>
            </div>
            <div class="span6">
                <div class="row-fluid offer-icon" >
                    <div class="span11" style="min-height:0">
                        <div class="pull-right">
                           <span class="offerAction genericOfferOpt" title="View Offer Details" >
                                <i class=" icon-info-sign offerDetail" ></i>
                            </span>
                            <span class="offerAction genericOfferOpt" title="Share Offer">
                                <i class="icon-share offerShare" ></i>
                            </span>
                            <span class="trashOfferAction offerAction" title="Trash Offer">
                                <i class="icon-trash offerTrash" ></i>
                            </span>
                            <span class="offerAction offerShareAction offerDetailAction offerFromCardAction hide" title="Add Offer to Wallet">
                                <i class="icon-plus offerAddToWallet" ></i>
                            </span>
                            <span class="offerAction offerAddedToWalletAction hide" title="Offer added to Wallet">
                                <i class="icon-ok offerAddedToWallet" ></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row-fluid margin-zero">
                    <span class="offerDesc">
                    </span>
                </div>
                <div class="row-fluid margin-zero">
                    <span class="vendorName sans-serif-normal">
                    </span>
                </div>
                <div class="row-fluid margin-zero">
                    <span class="sans-serif-small">
                        <a class="vendorUrl" 
                            target="_blank">
                        </a>
                    </span>
                </div>
                <div class="row-fluid margin-zero expiryDate">
                    <span class="sans-serif-small">
                        Expire
                    </span>
                    <i class="icon-calendar"></i>
                    <span class="offerExpiryDate sans-serif-extra-small">
                        : 28-Sept, 2012
                    </span>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="offerSourceContainer pull-right hide">
                <span class="sans-serif-small offerSourceName">Source:</span>
                <span class="offerSourceVal sans-serif-extra-small"></span>
            </div>
        </div>
        
    </li>
    <!-- End of Offer Template UI --!>
</ul>
