<div class="offer_detail_ui_template thumbnail offerBlock box-shadow span7 offset2">
    <div class="row-fluid expiryBlock">
        <div class="daysToExpire label hide">
        </div>
    </div>
    <div class="row-fluid">
        
        <div class="span6">
            <div class="vendorImgSection">
                <img class="targetVendor-logoUrl" alt="Vendor" src="images/stores/defaultVendor.jpg">
                <div class="vendorOnOfferNameVal hide"></div>
            </div>
            <span class="offerCode sans-serif-extra-small span8 offset2">Code: <span class="offerCodeVal"></span></span>
        </div>
        <div class="span6">
            <div class="row-fluid offer-icon" >
                <div class="span11" style="min-height:0">
                    <div class="pull-right">
                        <a href="#" onClick="" >
                            <i class="icon-share offerShare" title="Share Offer"></i>
                        </a>
                        <a class="" href="#" class="" onClick="" >
                            <i class="icon-trash offerTrash" title="Trash Offer"></i>
                        </a>
                        <a class="" href="#" onClick="" >
                            <i class="icon-plus offerAdd" title="Add this offer to OD"></i>
                        </a>

                    </div>
                </div>
            </div>
            <div class="row-fluid margin-zero">
                <a href="#" class="offerUrl">
                    <span class="offerDesc">
                        
                    </span>
                </a>
            </div>
            <div class="row-fluid margin-zero">
                <span class="sans-serif-small offerBold">By:</span>
                <span class="vendorName sans-serif-small">
                </span>
            </div>
            <div class="row-fluid margin-zero">
                <span class="sans-serif-small">
                    <a class="vendorUrl" 
                        target="_blank">
                    </a>
                </span>
            </div>
            <div class="row-fluid margin-zero expiryDate">
                <span class="sans-serif-small">
                    Expire
                </span>
                <i class="icon-calendar"></i>
                <span class="offerExpiryDate sans-serif-extra-small">
                </span>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="offerSourceContainer pull-right hide">
            <span class="sans-serif-small offerSourceName">Source:</span>
            <span class="offerSourceVal sans-serif-extra-small"></span>
        </div>
    </div>
    <fb:comments id="oDfferdFbComment" href="http://offerdiary.com/" width="550" num_posts="10"></fb:comments>
</div>
<!-- End of Offer Template UI --!>

