<div class="container-fluid change_password_template">
    <div class="row-fluid">
        <span class="bluishText largeTitleFontSize">
            <strong>
                Change Password
            </strong>
        </span>
    </div>
    <br/>
    <div class="row-fluid">
        <div class="form-horizontal">
          <div class="control-group">
            <label class="control-label" for="currentPassword">Current Password:</label>
            <div class="controls">
              <input type="password" id="currentPassword" placeholder="Current Password">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="newPassword">New Password:</label>
            <div class="controls">
              <input type="password" id="newPassword" placeholder="New Password">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="retypedNewPassword">Retype New Password:</label>
            <div class="controls">
              <input type="password" id="retypedNewPassword" placeholder="Retype New Password">
            </div>
          </div>
          <div class="control-group">
              <div class="controls">
                  <button id="submitChangePassword" class="btn btn-info">Change Password</button>
              </div>
          </div>
          
        </div>
    </div>
</div>
