<div class="row-fluid user_info_template">
    <div class="span8">
        <div class="container-fluid">
            <div class="row-fluid">
                <span class="bluishText largeTitleFontSize">
                    <strong>
                    User Details
                    </strong>
                </span>
                <span class="pull-right">
                    <a href="#" class="editBtn btn btn-mini btn-info">
                        Edit
                    </a>
                    <a href="#" class="saveBtn  btn btn-mini
                        btn-success saveCancel hide">
                        Save
                    </a>
                    <a href="#" class="cancelBtn saveCancel btn btn-mini
                        btn-success hide">
                        Cancel
                    </a>
                </span>
            </div>
            <br/>
            
            <div class="row-fluid">
                <table class="table table-striped table-bordered">
                    <tbody>
                        <tr>
                            <td><strong>Name</strong></td>
                            <td class="userName valColumn"></td>
                            <td class="editColumn hide">
                                <input type="text" class="userNameText"></input>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Email</strong></td>
                            <td class="userEmail valColumn"></td>
                            <td class="editColumn hide">
                                <input type="text" class="userEmailText" disabled></input>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>City</strong></td>
                            <td class="userCity valColumn"></td>
                            <td class="editColumn hide">
                                <input type="text" class="userCityText"></input>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Mobile Number</strong></td>
                            <td class="mobileNumber valColumn"></td>
                            <td class="editColumn hide">
                                <input type="text" class="mobileNumberText"></input>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Date of Birth</strong></td>
                            <td class="dob valColumn"></td>
                            <td class="editColumn hide">
                                <input type="text" class="dobText"></input>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Pin Code</strong></td>
                            <td class="pinCode valColumn"></td>
                            <td class="editColumn hide">
                                <input type="text" class="pincodeText"></input>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Nick Name</strong></td>
                            <td class="nickName valColumn"></td>
                            <td class="editColumn hide">
                                <input type="text" class="nickNameText"></input>
                            </td>
                        </tr>
                    </tbody>
                    
                </table>
            </div>
        </div>
    </div>
</div>
