<div class="row-fluid user_info_template">
    <div class="span8">
        <table class="table table-striped">
            <tr>
                <td><strong> Name </strong></td>
                <td class="userName"></td>
                <td class="editColumn">
                    <a class="userName_editColumn" href="#">edit</a>
                </td>
            </tr>
            <tr>
                <td><strong>Email</strong></td>
                <td class="userEmail"></td>
                <td class="editColumn">
                    <a class="userEmail_editColumn" href="#">edit</a>
                </td>
            </tr>
            <tr>
                <td><strong>City</strong></td>
                <td class="userCity"></td>
                <td class="editColumn">
                    <a class="userCity_editColumn" href="#">edit</a>
                </td>
            </tr>
            <tr>
                <td><strong>Mobile Number</strong></td>
                <td class="mobileNumber"></td>
                <td class="editColumn">
                    <a class="mobileNumber_editColumn" href="#">edit</a>
                </td>
            </tr>
            <tr>
                <td><strong>Date of Birth</strong></td>
                <td class="dob"></td>
                <td class="editColumn">
                    <a class="dob_editColumn" href="#">edit</a>
                </td>
            </tr>
            <tr>
                <td><strong>Pin Code</strong></td>
                <td class="pinCode"></td>
                <td class="editColumn">
                    <a class="pinCode_editColumn" href="#">edit</a>
                </td>
            </tr>
            <tr>
                <td><strong>Nick Name</strong></td>
                <td class="nickName"></td>
                <td class="editColumn">
                    <a class="NickName_editColumn" href="#">edit</a>
                </td>
            </tr>
        
        </table>
    </div>
</div>
