<ul id="cardTemplates" class="hide">
    <li class="span4 thumbnail generic_card_template">
        <div class="card">
            <span class="cardName">
                card.name
            </span>
        </div>
    </li>

    <li class="span4 thumbnail addableCard addable_card_template">
        <div class="card">
            <a class="pull-right card-associate btn btn-mini btn-success">add</a>
            <span class="cardName">
                card.name
            </span>
        </div>
    </li>

    <li class="span4 thumbnail myCard my_card_template">
        <div class="card">
            <a class="pull-right card-dismiss btn btn-mini">remove</a>
            <!--
            <a class="pull-right label label-success offersOnCardLabel">offers</a>
            -->
            <a class="pull-right btn btn-success btn-mini offersOnCardLabel">offers</a>
            <span class="cardName">
                card.name
            </span>
        </div>
    </li>
</ul>
