<ul id="cardTemplates" class="hide">
    <li class="span4 thumbnail generic_card_template">
        <div class="card">
            <span class="cardName">
                card.name
            </span>
        </div>
    </li>

    <li class="span4 thumbnail addableCard addable_card_template">
         <div class="container-fluid card">
            <div class="row-fluid">
                <div class="span6">
                    <div class="provider">
                        <img class="providerImg" src="images/cards/providers/RBS.jpg" />
                    </div>
                </div>
                <div class="span6">
                    <a class="pull-right card-associate btn btn-mini btn-success">add</a>
                </div>
            </div>
            <div class="row-fluid">
                <span class="cardName">
                    card.name
                </span>
            </div>
        </div>
    </li>

    <li class="span4 thumbnail myCard my_card_template">
        <div class="container-fluid card">
            <div class="row-fluid">
                 <div class="span6">
                    <div class="provider">
                        <img class="providerImg" src="images/cards/providers/RBS.jpg" />
                    </div>
                </div>
                <div class="span6">
                     <a class="pull-right card-dismiss btn btn-mini">remove</a>
            <!--
            <a class="pull-right label label-success offersOnCardLabel">offers</a>
            -->
                    <a class="pull-right btn btn-success btn-mini offersOnCardLabel">offers</a>
            </div>
           
            </div>
            <div class="row-fluid">
                <div class="">
                    <span class="cardName">
                        card.name
                    </span>
                </div>
            </div>
        </div>
    </li>
</ul>
