/*these are dependecies of offers/templates/eachOfferTemplate.html*/

            .offerBlock{
            	min-height: 100px;
            	border-style: dotted;
            	border-width: 2px;
				position: relative;
            }

            .offerDesc {
                font-size: 1.1em;
                /*font-weight: bold;*/
                line-height: 1.2em;
            }

            .sans-serif-normal{
                font-size: 1.1em;
            }

            .sans-serif-small{
                font-size: .9em;
            }

            .sans-serif-extra-small{
                font-size: .8em;
            }

            .shadow {
                -moz-box-shadow:    3px 3px 5px 6px #ccc;
                -webkit-box-shadow: 3px 3px 5px 6px #ccc;
                box-shadow:         3px 3px 5px 6px #ccc;
            }

            .margin-zero{
                margin-left: 0;
            }
            
            .offer-icon {
            	min-height: 0;
            }
            .offerAction {
            	cursor: pointer;
            }
            
            .offerSourceName {
            	font-weight: bold;
            }
            
            .offerSourceContainer {
            	margin-top: 5px;
            }
            
            
            .vendorImgSection {
            	position: relative;
            }
            
            .targetVendor-logoUrl {
            	/*
            	margin: -4px;
            	*/
            }
            
            .vendorOnOfferNameVal {
            	font-size: 1.2em;
            	position: absolute;
				left: 5%;
				top: 10%;
				color: #0088CC;
				font-family: "Comic Sans MS",cursive,sans-serif;
			    font-weight: bold;
			    border: solid 1px #EEEEEE;
			    padding: 5px;
			    min-height: 60%;
			    min-width: 80%;
            }
            
            .daysToExpire {
			    margin-left: 8%;
			    margin-right:10%;
			    padding: 5px;
			    position: absolute;
			    top: -20%;
			}
			