
.offer {
    background-color: #F5F5F5;
}


.checkBoxSelected {
    color: green;
}

.checkBoxSelected > .icon-ok {
    background-color: green;
}

.checkBoxUnSelected {
    color: #333333;
}

.checkBoxUnSelected > .icon-ok {
    background-color: transparent;
}

.addOfferBlock {
	margin-left: 20px;
	min-height: 100px;
	
}

.eachOfferRow {
	
	
}
