<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd" >
    	
	<bean id="itech.supplierDAO" class="com.itech.flower.dao.SupplierDAOImpl" parent="itech.hibernateCommonDAO">
	</bean>
	
	<bean id="itech.customerDAO" class="com.itech.flower.dao.CustomerDAOImpl" parent="itech.hibernateCommonDAO">
	</bean>
     
	<bean id="itech.flowerDAO" class="com.itech.flower.dao.FlowerDAOImpl" parent="itech.hibernateCommonDAO">
	</bean>
	
	<bean id="itech.supplierFlowerDAO" class="com.itech.flower.dao.SupplierFlowerAssocDAOImpl" parent="itech.hibernateCommonDAO">
	</bean>
	<bean id="itech.customerFlowerDAO" class="com.itech.flower.dao.CustomerFlowerAssocDAOImpl" parent="itech.hibernateCommonDAO">
	</bean>		
	
     
    <bean id="itech.customerManager" class="com.itech.flower.manager.CustomerManagerImpl" parent="itech.CommonBaseManager">
    	<property name="customerDAO" ref="itech.customerDAO"/>
	</bean>
	
	<bean id="itech.supplierManager" class="com.itech.flower.manager.SupplierManagerImpl" parent="itech.CommonBaseManager">
    	<property name="supplierDAO" ref="itech.supplierDAO"/>
	</bean>
	
	<bean id="itech.flowerManager" class="com.itech.flower.manager.FlowerManagerImpl" parent="itech.CommonBaseManager">
    	<property name="flowerDAO" ref="itech.flowerDAO"/>
    	<property name="customerFlowerAssocDAO" ref="itech.customerFlowerDAO"/>
    	<property name="supplierFlowerAssocDAO" ref="itech.supplierFlowerDAO"/>    	
	</bean>
	

     	   
</beans>
