<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>flowers</display-name>
  
  
  
	  <listener>
		<listener-class>
			com.itech.common.server.ProjectContextListener
		</listener-class>
    </listener>
    
      
   <context-param> 
    <param-name>contextConfigLocation</param-name>
    <param-value>WEB-INF/beans.xml, WEB-INF/beans/*.xml</param-value>
  </context-param>

  <listener> 
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener> 
  
  
   <filter>
	    <filter-name>loginFilter</filter-name>
	    <filter-class>com.itech.web.LoginFilter</filter-class>
	</filter> 
	<filter-mapping>
	    <filter-name>loginFilter</filter-name>
	    <url-pattern>*.do</url-pattern>
	</filter-mapping>
	<filter-mapping>
	    <filter-name>loginFilter</filter-name>
	    <url-pattern>*.jsp</url-pattern>
	</filter-mapping>
  <welcome-file-list>
    <welcome-file>user/pages/login.jsp</welcome-file>
  </welcome-file-list>
  	<servlet>
		<description>
		</description>
		<display-name>ActionServlet</display-name>
		<servlet-name>ActionServlet</servlet-name>
		<servlet-class>
		com.itech.web.ActionServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ActionServlet</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
</web-app>