body {
	color: #808080;
}

body {
	/*BS Accounts*/
	padding-top: 85px;
}

.options-left-container {
	 background-color: #FFFFFF;
	 border-radius: 6px 6px 6px 6px;
	 padding: 0;
	 border: 1px solid #DDDDDD;
}

.content-container {
	 border-left: 1px solid #DDDDDD;
	 border-right: 1px solid #DDDDDD;
	 padding-top: 20px;
	 min-height: 400px;
	 margin-left: 16px;
}

.ui-autocomplete-loading {
    background: white url('images/ui-anim_basic_16x16.gif') right center no-repeat;
}

.bluishText {
	color: #0088CC;
}